
<div class="uptobox">
<h2>Créer un compte</h2>

<% if (message) { %>
    <p>
        <%= message %>
    </p>
<% } %>
</div>

<div class="box box-signup">

<form action="/signup" method="post">

  <div class="field">
    <p class="control has-icons-left">
        <input class="input" type="email" name="email" placeholder="Email"></label>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
    </p>
    </div>

    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" name="password" placeholder="Mot de passe"></label>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>

        <div class="control">
        <button class="button is-link">Créer mon compte</button>
        </div>
    </div>

</form>

</div>
