<h2>Nouveau magasin</h2>

<form action="/admin/new-store" method="post">


  <label>Nom du magasin<br>
    <input type="text" name="name">
  </label>
  <br><br>

  <label>Query<br>
    <input type="text" name="query">
  </label>
  <br><br>

  <label>Url<br>
    <input type="text" name="url">
  </label>
  <br><br>


  <button>Créer magasin</button>
</form>

<form action="/admin/index" method="get">
  <button>Annuler</button>
</form>
