<h2>Nouveau cadeau</h2>

<form action="/admin/new" method="post" enctype="multipart/form-data">
  <label>Photo du cadeau <br>
    <input type="file" name="photo">
  </label>
  <br><br>

  <label>Nom du cadeau <br>
    <input type="text" name="name">
  </label>
  <br><br>

  <label>Prix du cadeau <br>
    <input type="text" name="price">
  </label>
  <br><br>

  <label>Catégories <br>
    <% for(var i = 0; i <= 3; i++) { %>
    <input type="text" name="tags"> <br>
    <% } %>
  </label>


  <label>Description du cadeau <br>
    <textarea class="textarea" type="text" name="description">
    </textarea>
  </label>
  <br><br>

  <label>Magasins
    <br>
    <div class="select">
    <select name="store">
      <% for(var i = 0; i < stores.length; i++) { %>
        <option value="<%= stores[i]._id %>">
          <%= stores[i].name %>
        </option>
        <% } %>
    </select>
  </label>
</div>
  <br>
  <br>

  <button>Créer cadeau</button>
</form>

<form action="/admin/index" method="get">
  <button>Annulé </button>
</form>