
<div class="container">

  <img src="<%= gift.imgPath %>" alt="gift picture" width = "40%"/>

  <div class= "description">
  <h1><%= gift.name %></h1>
  <strong>
    <%= gift.price %> €
  </strong>
  <p>
    <%= gift.description %>
  </p>
</div>
</div>
