
<div class="container">

  <img src="<%= gift.imgPath %>" alt="gift picture" id="detail-picture";/>

  <div class= "description">
  <h1><%= gift.name %></h1>
  <h2>
    <%= gift.price %> €
  </h2>
  <p>
    <%= gift.description %>
  </p>
</div>
</div>
