<h1>Bienvenue </h1>

<form action="/" method="post">
  <label>Categories
    <input list="categorie" type="text">
    <datalist id="categorie">
      <option value="Enfant">
      <option value="Adulte">
      <option value="Cuisine">
      <option value="bien-être">
      <option value="apprentissage">
      <option value="maison">
      <option value="voyage">
      <option value="jeux">
      <option value="">
    </datalist>
  </label>
  <label>Budget
    <input list="budget" type="text" align="middle">
    <datalist id="budget">
      <option value="0 - 19 €">
      <option value="20 - 39 €">
      <option value="40€ +">
    </datalist>
  </label>
</form>




<div class= "gift">
  <% if (allGifts.length > 0) { %>
   <% allGifts.forEach((gift) => { %>

    <div class="gift-display"
    <p>
      <%= gift.name %>
    </p>
    <img src="<%= gift.imgPath %>" alt="gift picture" width="100%" />
    <p>
      <%= gift.price %> €
    </p>
    <form action="/gifts/<%= gift._id %>" method="get">
      <input type="submit" value="Voir cadeau">
    </form>
  </div>
   <% }) %>
  <% } %>
</div>