<div class="select-cat">
  <form action="/" method="get" id="filter-form">
    <!-- <label>Catégories -->
      <select id="select" name="categorie">
        <option value="" disabled selected>Sélectionnez une catégorie</option>
        <option value="enfant">Enfant</option>
        <option value="adulte">Adulte</option>
        <option value="cuisine">Cuisine</option>
        <option value="bien-être">Bien-être</option>
        <option value="apprentissage">apprentissage</option>
        <option value="maison">maison</option>
        <option value="voyage">voyage</option>
        <option value="jeux">jeux</option>
        <option value="jeu de plein air">jeu de plein air</option>
      </select>
    <!-- </label> -->
    

         
         <p>
          <label>budget (minimum / maximum) :
            <input type="text" name="min" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <input type="text" name="max" readonly style="border:0; color:#f6931f; font-weight:bold;">
         </p>
            <div id="slider-range"></div>
        </label>

          
          <button type="submit">Rechercher</button>
        </form>
        <script>
            $( "#slider-range" ).slider({
              range: true,
              min: 0,
              max: 200,
              values: [ 0, 200 ],
              slide: function( event, ui ) {
                $('#filter-form input[name="min"]').val(ui.values[0]);
                $('#filter-form input[name="max"]').val(ui.values[1]) ;
                
              }
            });
            $( '#filter-form input[name="min"]').val(  $( "#slider-range" ).slider( "values", 0 ))
            
            /* + $( "#slider-range" ).slider( "values", 1 ) ); */
            
            $( '#filter-form input[name="max"]' ).val(  $( "#slider-range" ).slider( "values", 1 ))
          </script>
      </div>




<div class= "gift">
  <% if (allGifts.length > 0) { %>
   <% allGifts.forEach((gift) => { %>

    <div class="gift-display">
      <a href="/gifts/<%= gift._id %>">
    <h2>
      <%= gift.name %>
    </h2>
    <img src="<%= gift.imgPath %>" alt="gift picture" width="100%" />
    <p>
      <%= gift.price %> €
    </p>
  </div>
   <% }) %>
  <% } %>
</a>
</div>
