body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
 display: flex;
 flex-direction: row;
 height: 500px;
}

.description {
  width: 40%;
  height: 40%;
  margin: 5% 0 5% 5%;
}

#detail-picture {
  width: 450px;
}

.gift {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.gift-display {
  width: 30%;
  text-align: center;
}

iframe {
  margin-top: 2%;
}
